<tr>
  <td><input type="text" name="employee_id" class="form-control" required></td>
  <td><input type="text" name="first_name" class="form-control" required></td>
  <td><input type="text" name="last_name" class="form-control" required></td>
  <td><input type="email" name="email" class="form-control" required></td>
  <td>
    <select name="department" class="form-select" required>
      <option value="">-- Select Department --</option>
      {% for dept in departments %}
        <option value="{{ dept.id }}">{{ dept.code }} - {{ dept.name }}</option>
      {% endfor %}
    </select>
  </td>
  <td><input type="text" name="cabin_block" class="form-control"></td>
  <td><input type="text" name="cabin_room" class="form-control"></td>
  <td><input type="text" name="phone_number" class="form-control"></td>
  <td>
    <button type="button" class="btn btn-sm btn-outline-danger delete-row">×</button>
  </td>
</tr>
